.cart {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 20%;
  max-width: 30%;
  max-height: 60%;
  background-color: whitesmoke;
  overflow: auto;
  padding: 0.5rem;
  box-shadow: 0 0 1rem rgb(0 0 0 / 50%);
  border-bottom-left-radius: 0.5rem;
}

.cart-closed {
  position: absolute;
  top: 1%;
  right: 3%;
  width: 3%;
  background-color: whitesmoke;
  /* overflow: auto; */
  padding: 1rem;
  box-shadow: 0 0 2rem rgb(0 0 0 / 50%);
  /* border-bottom-left-radius: 0.5rem; */
  border-radius: 50%;
  text-align: center;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
