header {
  background: yellow;
  height: 200px;
} /*not used*/

header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.bigHeader {
  background-image: linear-gradient(to right, lightgrey, darkgrey);
  /*background: yellow;
  height: 250px;
  width: 680px */
}

.bigHeader h1 {
  margin: 0;
  padding-top: 5px;
  text-align: center;
  color: rgb(207, 9, 9);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.bigHeader h2 {
  margin: 0;
  padding-top: 5px;
  text-align: left;
  color: blueviolet;
  font-size: 18px;
}

.nav-item {
  background: #f9b713;
  height: 30px;
  width: 180px;
  display: inline-block;
}

.nav-item a {
  margin: 0;
  padding-top: 5px;
  text-align: left;
  color: rgb(205, 50, 179);
  font-size: 18px;
}

.nav-item:hover {
  background-color: #ddd;
  cursor: pointer;
}

.nav-tabs {display: inline-block;}

.nav-item:active {
  background-color: rgb(196, 248, 91);
  color: black
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 25px;
  width: 60%;
}

.footer h1 {text-align: right;}

.center {display: block;
margin-left: auto;
margin-right: auto;} /*not used*/

.book {font-size: 28px;
text-align: right;
display: block;
float:left}

.listItem {width: 500px;}